/* 
    Created on : Apr 19, 2017, 3:23:05 PM
    Author     : kapot
*/
.container {
       width: 100%;
}

#index_tree {
    max-height: 60vh;
    overflow-y: scroll;
}

#jsonview {
    max-height: 30vh;
    overflow-y: scroll;
}

